@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
*{ padding: 0; margin: 0; font-family: "Noto Sans KR", sans-serif; box-sizing: border-box;}

img{width: 100%;}

#wrap{
    width: 1200px; margin: 0 auto;
}
#wrap>*{
    margin: 0 auto;
}
/* * all set */

#wrap div.imageSec{
    width: 12.5%; margin-bottom: 50px;
}

input[class*="join"]{
    width: 58%; display: block;
}

.loginFrm>input:not(:last-of-type){
    display: block; margin: 0 auto; padding: 15px; border-color: #7FA8AC; border-width: 3px;
    caret-color: #7FA8AC; outline: none;
}
.loginFrm>input:first-of-type{
    margin-bottom: 40px;
}

.loginFrm>input:not(:last-of-type):focus{
    border-color: #7FA8AC; outline: none;
}
.loginFrm div{
    position: absolute; width: 20%; top: 50%; right: 15%;
}

.loginFrm div a{
    text-decoration: none; color: #000;
}
.loginFrm div a:first-of-type{
    border-right: 1px solid #000; padding-right: 5px;
}
.loginFrm div a:hover{
    text-decoration: underline;
}
.loginFrm input:last-of-type{
    width: 58%; display: block; margin: 90px auto 30px; padding: 15px;
    font-size: 25px; font-weight: 700; border: none; background-color: #7FA8AC;
    color: #fff;
}
.loginFrm input:last-of-type:hover{
    background-color: #608083;
}
.noMem{
    margin: 0 auto; display: block; width: 130px;
}
.noMem a{
    font-size: 15px; font-weight: 400; color: #666; 
}




